@media  (min-width: 1110px) {
	.container {
		width: 1090px;

		padding: 0 56px;

		*width: 976px;
	}

	.row {
		margin-left: -20px;
	}

	.span1,
	.span2,
	.span3,
	.span4,
	.span5,
	.span6,
	.span7,
	.span8,
	.span9,
	.span10,
	.span11,
	.span12 {
		margin-left: 20px;
	}

	.span1 {
		width: 63px;
	}
	.span2 {
		width: 146px;
	}
	.span3 {
		width: 229px;
	}
	.span4 {
		width: 312px;
	}
	.span5 {
		width: 395px;
	}
	.span6 {
		width: 478px;
	}
	.span7 {
		width: 561px;
	}
	.span8 {
		width: 644px;
	}
	.span9 {
		width: 727px;
	}
	.span10 {
		width: 810px;
	}
	.span11 {
		width: 893px;
	}
	.span12 {
		width: 976px;
	}
}

@media  (max-width: 993px) {
	.container {
		margin-bottom: 0;
	}	
}