<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>F1news.ru</title>

		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=993">

		<meta content="summary" property="twitter:card">
		<meta content="@f1newsru" property="twitter:site">
		<meta content="" property="twitter:site:id">
		<meta content="" property="fb:app_id">
		<meta content="" property="fb:admins">
		<meta content="website" property="og:type">
		<meta content="" property="og:title">
		<meta content="" property="og:url">
		<meta content="" property="og:image">
		<meta content="" property="og:description">

		<link rel="stylesheet" href="/assets/css/fonts.css">
		<link rel="stylesheet" href="/assets/css/normalize.css">
		<link rel="stylesheet" href="/assets/css/header.css">
		<link rel="stylesheet" href="/assets/css/footer.css">
		<link rel="stylesheet" href="/assets/css/icons.css">
		<link rel="stylesheet" href="/assets/css/forms.css">
		<link rel="stylesheet" href="/assets/css/fluid.css">
		<link rel="stylesheet" href="/assets/css/widgets.css">
		<link rel="stylesheet" href="/assets/css/datepicker.css">

		<link rel="stylesheet" href="/assets/css/responsive/header.css">
		<link rel="stylesheet" href="/assets/css/responsive/footer.css">
		<link rel="stylesheet" href="/assets/css/responsive/fluid.css">
		<link rel="stylesheet" href="/assets/css/responsive/widgets.css">

	</head>
	<body>

		<div class="container">
			<div class="header">
				<div class="header_top">
					<div class="header_logo">
						<a href="#" title="F1News | На главную">
							<img src="/assets/img/logo.jpg" alt="">
						</a>
					</div>
					<div class="header_social">
						<ul class="social">
							<li class="social_rss">
								<a href="#"></a>
							</li>
							<li class="social_twitter">
								<a href="#"></a>
							</li>
							<li class="social_vk">
								<a href="#"></a>
							</li>
							<li class="social_facebook">
								<a href="#"></a>
							</li>
							<li class="header_age_limit">
								<span>16+</span>
							</li>
						</ul>
					</div>
					<div class="header_search">
						<form action="#">
							<input type="search" name="" placeholder="Поиск">
						</form>
					</div>
				</div><!-- header top -->

				<div class="navbar">
					<ul class="navbar_head">
						<li>
							<a href="#">Новости</a>
						</li>
						<li>
							<a href="#">Чемпионат</a>
						</li>
						<li>
							<a href="#">Интервью</a>
						</li>
						<li>
							<a href="#">Колонки</a>
						</li>
						<li>
							<a href="#">История</a>
						</li>
						<li>
							<a href="#">Техника</a>
						</li>
						<li>
							<a href="#">Статьи</a>
						</li>
						<li>
							<a href="#">Форум</a>
						</li>
						<li>
							<a href="#">Автоспорт</a>
						</li>
						<li class="feature">
							<a href="#">Inside gran prix</a>
						</li>
					</ul>
					<ul class="navbar_body">
						<li>
							<a href="#">Архив новостей</a>
						</li>
						<li>
							<a href="#">Энциклопедия</a>
						</li>
						<li>
							<a href="#">Конкурс прогнозов</a>
						</li>
						<li>
							<a href="#">Фотогалерея</a>
						</li>
						<li>
							Туры на <a href="#">Гран При Венгрии</a> и <a href="#">Абу Даби</a>
						</li>
					</ul>
				</div><!-- navbar -->
			</div><!-- header -->

			<div class="middle">
                {% block content %}{% endblock %}
			</div><!-- middle -->

			<div class="footer">
				<div class="footer_top clearfix">
					<div class="copyright">
						<p>© Редакция F1News.Ru 1997-2013. Регистрация СМИ Эл № ФС77-29173.</p>
						<ul>
							<li>
								<a href="#">Обратная связь</a>
							</li>
							<li>
								<a href="#">Реклама на портале</a>
							</li>
							<li>
								<a href="#">Партнер «Рамблера»</a>
							</li>
						</ul>
					</div><!-- copyright -->
					<div class="footer_banners">
						<ul>
							<li>
								<a href="#">
									<img src="/files/banner_mail.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/files/banner_yandex.jpg" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="itlooks">Дизайн сайта - <a href="#">Итлукс</a>, 2013</div>
			</div><!-- footer -->

		</div><!-- container -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="/assets/js/sidepadding.js"></script>
		<script src="/assets/js/royalslider.js"></script>
		<!--script src="/assets/js/countdown.js"></script-->
		<!--script src="/assets/js/navrace.js"></script-->
		<script src="/assets/js/affix.js"></script>
		<script src="/assets/js/datepicker.js"></script>
		<script src="/assets/js/main.js"></script>

	</body>
</html>