{% extends "::base.html.twig" %}

{% block content %}
<div class="widget widget_maxbottom">
					<div class="page_title">Техника</div>
					<div class="row">
						<div class="span6">
							<div class="article article_large">
								<div class="article_image">
									<a href="#">
										<img src="/files/post.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#"><span>20 февраля</span> В Pirelli назвали составы резины на первые четыре гонки</a>
								</div>
								<div class="article_content">После окончания зимних тестов в Pirelli назвали составы резины на четыре первых гонки сезона. </div>
							</div>
						</div>
						<div class="span6">
							<div class="article article_large">
								<div class="article_image">
									<a href="#">
										<img src="/files/post2.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#"><span>19 апреля</span> Как это работает: Индикация безопасности ERS</a>
								</div>
								<div class="article_content">Когда в Формуле 1 появилась система KERS, многие были озабочены вопросами безопасности, особенно когда на июльских тестах BMW Sauber один из механиков получил удар электрическим током, коснувшись машины.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span8" id="mainbar">
						<div class="widget articles_inline">
							<div class="widget_body">
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article1.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article2.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article3.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article4.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
							</div>
						</div><!-- widget post -->
						<div class="widget articles_inline ajax_load">
							<div class="page_title page_title_withborder">2013</div>
							<div class="widget_body ajax_load_content">
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article1.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article2.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article3.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article4.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article4.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article4.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article4.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article4.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article1.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="article article_large">
									<div class="article_image">
										<a href="#">
											<img src="/files/article2.jpg" alt="">
										</a>
									</div>
									<div class="article_main">
										<div class="article_title">
										<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
										</div>
										<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
									</div>
								</div><!-- article -->
								<div class="widget_foot ajax_load_button">
									<a href="#" class="btn">Загрузить еще</a>
								</div>
							</div>
						</div><!-- widget articles_inline -->
					</div><!-- span8 -->
					<div class="span4" id="sidebar">
						<div class="widget banner_sidebar">
							<a href="#">
								<img src="/files/banner_sidebar2.jpg" alt="">
							</a>
						</div><!-- widget banner_sidebar -->
					</div><!-- span4 -->
				</div><!-- row -->
{% endblock %}