{% extends "::base.html.twig" %}

{% block content %}
<div class="row">
	<div class="span8">
		<div class="row">
			<div class="span6">
				<div class="widget article_superfeature">
					<div class="article">
						<div class="article_image">
							<a href="#">
								<img src="/files//article_superfeature1.jpg" alt="">
							</a>
						</div>
						<div class="article_descript">
							<div class="article_title">
								<a href="#">Себастьян Феттель: Лучше и быть не могло!</a>
							</div>
							<div class="article_content">Льюис Хэмилтон впервые в карьере выиграл гонку в Бахрейне, которую можно назвать самой интересной в новом сезоне. Гонщики Mercedes вели острую борьбу до финиша, но Льюис смог удержать лидерство.</div>
						</div>
					</div>
				</div><!-- widget article_superfeature -->
				<div class="widget news_list">
					<div class="widget_head">
						<div class="widget_title">Новости</div>
					</div>
					<div class="widget_body">
						<div class="list_wrap">
							<ul class="list list_striped">
								<li>
									<a href="#">GP3: Дин Стоунман лидирует по итогам первого дня</a>
									<a href="#" class="news_date">18.03</a>
								</li>
								<li>
									<a href="#">Браун: Мы добились прогресса за счет работы с настройками</a>
								</li>
								<li>
									<a href="#">Стефано Доменикали: Я обещаю, мы добьёмся успеха</a>
								</li>
								<li>
									<a href="#">Вольфф: Если команда не платит по счетам, это плохо для всех</a>
								</li>
								<li>
									<a href="#">Марк Уэббер: Мои приоритеты изменились</a>
								</li>
								<li>
									<a href="#">Росс Браун: Red Bull Racing будут очень быстры в 2014-м</a>
								</li>
								<li>
									<a href="#">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
								</li>
								<li>
									<a href="#" class="gray">Хорнер: Наши сотрудники - главный козырь Red Bull Racing</a>
								</li>
								<li>
									<a href="#">Магнуссен может заменить Переса?</a>
								</li>
								<li>
									<a href="#">Гэри Андерсон: Lotus и Хэмилтон пострадали из-за своих ошибок</a>
								</li>
								<li>
									<a href="#">Фернандо Алонсо: В Остине нам нужно добиться прогресса</a>
								</li>
								<li>
									<a href="#">Сэм Бёрд сядет за руль машины Russian Time на тестах GP3</a>
								</li>
								<li>
									<a href="#">Нико Росберг: Приятно видеть прогресс команды</a>
									<a href="#" class="news_date">17.03</a>
								</li>
								<li>
									<a href="#">Ален Прост: Я давно пытаюсь понять секрет Феттеля</a>
								</li>
								<li>
									<a href="#">Герхард Бергер в четвёртый раз стал отцом</a>
								</li>
								<li>
									<a href="#">Эрик Булье: Мы сделаем заявление в ближайшем будущем</a>
								</li>
								<li>
									<a href="#">Доменикали: Со стратегией Массы мы допустили ошибку</a>
								</li>
								<li>
									<a href="#">Хэмилтон удивлён нехваткой скорости</a>
								</li>
								<li>
									<a href="#">Мартин Брандл об итогах Гран При Абу-Даби</a>
								</li>
								<li>
									<a href="#">Гэри Андерсон: Lotus и Хэмилтон пострадали из-за своих ошибок</a>
								</li>
								<li>
									<a href="#">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
								</li>
								<li>
									<a href="#" class="gray">Сьюзи Вольфф – первая женщина в Гонке чемпионов</a>
								</li>
								<li>
									<a href="#">В первый день тестов GP2 за руль сядут трое россиян</a>
								</li>
								<li>
									<a href="#" class="gray">Сафнауэр: Тактика одного пит-стопа была рискованной</a>
								</li>
								<li>
									<a href="#">Эрик Булье: Мы сделаем заявление в ближайшем будущем</a>
								</li>
								<li>
									<a href="#">Даниилу Квяту и Russian Time вручены награды по итогам сезона</a>
								</li>
								<li>
									<a href="#">Статистика прошедших Гран При: Квалификация</a>
								</li>
								<li>
									<a href="#" class="gray">Гран При Абу-Даби: Все цитаты уик-энда</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="widget_foot">
						<ul class="news_list_tabs">
							<li>
								<a href="#">За сегодня</a>
							</li>
							<li>
								<a href="#">вчера</a>
							</li>
							<li>
								<a href="#">месяц</a>
							</li>
							<li>
								<a href="#">архив</a>
							</li>
						</ul>
					</div>
				</div><!-- widget news list -->
			</div><!-- span6 -->
			<div class="span2">
				<div class="widget articles_column">
					<div class="widget_body">
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files//article8.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Мазепа: У меня от эмоций даже слёзы выступают</a>
							</div>
							<div class="article_content">После финиша был буквально на седьмом небе от счастья.</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files//article7.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Даниил Квят: Всё получилось прекрасно!</a>
							</div>
							<div class="article_content">После церемонии награждения чемпион GP3 и будущий гонщик Toro F1News.Ru.</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files//article2.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Интервью читателей: Мониша Кальтенборн</a>
							</div>
							<div class="article_content">Руководитель команды Sauber Мониша Кальтенборн ответила на вопросы читателей F1News.Ru</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files//article5.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Герман Тильке: Борьбы на трассе было довольно много</a>
							</div>
							<div class="article_content">Гонки в Абу-Даби часто оказывались не согласен.</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files//article3.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Юрий Евстигнеев: Двери SMP Racing открыты для всех</a>
							</div>
							<div class="article_content">Проект SMP Racing  о себе заявить, взяв под опеку огромное .</div>
						</div><!-- article -->
					</div>
				</div>
			</div>
		</div><!-- row -->
		<div class="row">
			<div class="span8">
				<div class="widget">
					<div class="widget_head">
						<div class="widget_title">Интервью</div>
					</div>
					<div class="widget_body">
						<div class="row carousel">
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article1.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#">Феттель: У многих ошибочное представление обо мне</a>
								</div>
								<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
							</div><!-- article -->
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article8.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
								</div>
								<div class="article_content">Заявление Марка Уэббера об уходе из Red Bull Racing после окончания сезона 2013 года оживило ситуацию на рынке пилотов Формулы 1...</div>
							</div><!-- article -->
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article3.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#">Юрий Евстигнеев: Двери SMP Racing открыты для всех</a>
								</div>
								<div class="article_content">Проект SMP Racing появился только зимой, однако уже успел о себе заявить, взяв под опеку огромное количество молодых российских гонщиков в самых разных сериях, как в России, так и в Европе.</div>
							</div><!-- article -->
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article1.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#">Феттель: У многих ошибочное представление обо мне</a>
								</div>
								<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
							</div><!-- article -->
						</div>
					</div>
					<div class="widget_foot">
						<a href="#">Все интервью</a>
					</div>
				</div><!-- widget articles carousel -->
				<div class="widget photos">
					<div class="widget_head">
						<div class="row">
							<div class="widget_title span4">Фотогалерея на F1news</div>
							<div class="span4">
								<div class="photos_title">Фестиваль скорости в Гудвуде</div>
							</div>
						</div>
					</div>
					<div class="widget_body">
						<div class="photos_gallery">
							<div class="row carousel">
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery1.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery2.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery3.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery4.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery5.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery6.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery7.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery8.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery1.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery2.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery3.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery4.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery1.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery2.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery3.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery4.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery1.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery2.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery3.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery4.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery1.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery2.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery3.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery4.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery1.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery2.jpg" alt=""></a>
									</div>
								</div>
								<div class="span2 carousel_item">
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery3.jpg" alt=""></a>
									</div>
									<div class="photos_gallery_item">
										<a href="#"><img src="/files//gallery4.jpg" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="widget_foot">
						<a href="#">Все фотогалереи</a>
					</div>
				</div><!-- widget -->
				<div class="widget weather">
					<div class="widget_head">
						<div class="widget_title">Погода на трассе: Будапешт</div>
					</div>
					<div class="widget_body">
						<div class="row">
							<div class="span2 weather_item">
								<div class="weather_item_image">
									<i class="icon_weather icon_weather_1"></i>
								</div>
								<div class="weather_item_title">13 июля, Суббота</div>
								<div class="weather_item_descript">перем.обл, 14...26 C</div>
							</div>
							<div class="span2 weather_item">
								<div class="weather_item_image">
									<i class="icon_weather icon_weather_2"></i>
								</div>
								<div class="weather_item_title">13 июля, Суббота</div>
								<div class="weather_item_descript">перем.обл, 14...26 C</div>
							</div>
							<div class="span2 weather_item">
								<div class="weather_item_image">
									<i class="icon_weather icon_weather_3"></i>
								</div>
								<div class="weather_item_title">13 июля, Суббота</div>
								<div class="weather_item_descript">перем.обл, 14...26 C</div>
							</div>
							<div class="span2 weather_item">
								<div class="weather_item_image">
									<i class="icon_weather icon_weather_4"></i>
								</div>
								<div class="weather_item_title">13 июля, Суббота</div>
								<div class="weather_item_descript">перем.обл, 14...26 C</div>
							</div>
						</div>
					</div>
				</div><!-- widget weather -->
				<div class="widget authors_column">
					<div class="widget_head">
						<div class="widget_title">Авторские колонки</div>
					</div>
					<div class="widget_body">
						<div class="row carousel">
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article1.jpg" alt="">
									</a>
								</div>
								<div class="article_author">
									<a href="#">Михаил Алешин</a>
								</div>
								<div class="article_title">
									<a href="#">Феттель: У многих ошибочное представление обо мне</a>
								</div>
								<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
							</div><!-- article -->
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article8.jpg" alt="">
									</a>
								</div>
								<div class="article_author">
									<a href="#">Олег Карпов</a>
								</div>
								<div class="article_title">
									<a href="#">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
								</div>
								<div class="article_content">Заявление Марка Уэббера об уходе из Red Bull Racing после окончания сезона 2013 года оживило ситуацию на рынке пилотов Формулы 1...</div>
							</div><!-- article -->
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article3.jpg" alt="">
									</a>
								</div>
								<div class="article_author">
									<a href="#">Грэм Лоундон</a>
								</div>
								<div class="article_title">
									<a href="#">Юрий Евстигнеев: Двери SMP Racing открыты для всех</a>
								</div>
								<div class="article_content">Проект SMP Racing появился только зимой, однако уже успел о себе заявить, взяв под опеку огромное количество молодых российских гонщиков в самых разных сериях, как в России, так и в Европе.</div>
							</div><!-- article -->
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article1.jpg" alt="">
									</a>
								</div>
								<div class="article_author">
									<a href="#">Михаил Алешин</a>
								</div>
								<div class="article_title">
									<a href="#">Феттель: У многих ошибочное представление обо мне</a>
								</div>
								<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
							</div><!-- article -->
						</div>
					</div>
					<div class="widget_foot">
						<a href="#">Все авторские колонки</a>
					</div>
				</div><!-- widget authors column -->
				<div class="widget">
					<div class="widget_head">
						<div class="widget_title">История формулы 1</div>
					</div>
					<div class="widget_body">
						<div class="row carousel">
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article4.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#">Германия'54: Серджио Мантовани</a>
								</div>
							</div><!-- article -->
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article5.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#">Монако'12: Нараин Картикеян</a>
								</div>
							</div><!-- article -->
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article6.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#">Германия'96: Педро Диниц</a>
								</div>
							</div><!-- article -->
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article4.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#">Германия'54: Серджио Мантовани</a>
								</div>
							</div><!-- article -->
							<div class="article span2 carousel_item">
								<div class="article_image">
									<a href="#">
										<img src="/files//article6.jpg" alt="">
									</a>
								</div>
								<div class="article_title">
									<a href="#">Германия'96: Педро Диниц</a>
								</div>
							</div><!-- article -->
						</div>
					</div>
					<div class="widget_foot">
						<a href="#">Все исторические обзоры</a>
					</div>
				</div><!-- widget articles carousel -->
				<div class="widget">
					<div class="widget_head">
						<div class="widget_title">Год назад в новостях</div>
					</div>
					<div class="widget_body">
						<ul class="list list_striped">
							<li><a href="#">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a></li>
							<li><a href="#">Sauber может остаться без моторов</a></li>
							<li><a href="#">Юрий Евстигнеев: Двери SMP Racing открыты для всех</a></li>
							<li><a href="#">Жюль Бьянки о начале сотрудничества с Marussia…</a></li>
							<li><a href="#">Фотогалерея: Фестиваль скорости в Гудвуде</a></li>
							<li><a href="#">Петер Заубер: Сейчас моя задача – спасение команды</a></li>
						</ul>
					</div>
				</div>
			</div><!-- span8 -->
		</div><!-- row -->
	</div><!-- span8 -->
	<div class="span4">
		<div class="widget banner_sidebar">
			<a href="#">
				<img src="/files/banner_sidebar.jpg" alt="">
			</a>
		</div><!-- widget banner_sidebar -->
		<div class="widget stream">
			<div class="widget_head">
				<div class="stream_wrap" style="background: url(/assets/img/stream_thumbnail.jpg);">
					<div class="stream_title">Гран-При Испании</div>
					<div class="stream_date">22–25 Мая 2014. Барселона</div>
					<div class="stream_countdown">До старта: 16 дней  04 h 13 m 45 s</div>
				</div>
			</div>
			<div class="widget_body stream_list">
				<div class="list_wrap">
					<table class="list list_featured">
						<thead>
							
						</thead>
						<tbody>
							<tr>
								<td colspan="3">
									<a href="#">Превью этапа</a>
									<a href="#">Комментарии перед Гран При</a>
									<a href="#">Трасса и статистика</a>
									<a href="#">Круглые цифры</a>
									<a href="#">Пресс-конференция в Четверг</a>
								</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="3">Пятница, 5 августа</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#">1-я практика</a>
								</td>
								<td align="right" class="mini red">Online</td>
								<td class="mini">11:55</td>
							</tr>
							<tr>
								<td>
									<a href="#">2-я практика</a>
								</td>
								<td align="right" class="mini red">Online</td>
								<td class="mini">16:55</td>
							</tr>
							<tr>
								<td>
									<a href="#">Пресс-конференция</a>
								</td>
								<td class="red"></td>
								<td class="mini"></td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="3">Суббота, 6 августа</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#">3-я практика</a>
								</td>
								<td align="right" class="mini red">Online</td>
								<td class="mini">13:55</td>
							</tr>
							<tr>
								<td>
									<span>Квалификация</span>
								</td>
								<td align="right" class="mini red"><i class="icon icon_feed"></i> Online</td>
								<td class="mini">16:50</td>
							</tr>
							<tr>
								<td>
									<span>Пресс-конференция</span>
								</td>
								<td class="red"></td>
								<td class="mini"></td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="3">Воскресенье, 6 августа</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<span>Стартовое поле</span>
								</td>
								<td class="red"></td>
								<td class="mini"></td>
							</tr>
							<tr>
								<td>
									<span>Гонка</span>
								</td>
								<td align="right" class="mini red">Online</td>
								<td class="mini">16:50</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3">
									<span>Круг за кругом</span>
									<span>Пресс-конференция</span>
									<span>После гонки</span>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="widget championship">
			<div class="widget_head">
				<div class="widget_title">Чемпионат 2013</div>
			</div>
			<div class="widget_body">
				<div class="list_wrap">
					<table class="list list_striped">
						<thead>
							<tr>
								<td class="championship_item_title" colspan="2">Личный зачет</td>
								<td class="championship_item_link" colspan="3">
									<a href="#">полная таблица</a>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="championship_item_numb gray">1.</td>
								<td class="championship_item_name">С.Феттель</td>
								<td class="championship_item_bonus gray">+24</td>
								<td class="championship_item_value">157</td>
								<td class="championship_item_status">
									
								</td>
							</tr>
							<tr>
								<td class="championship_item_numb gray">2.</td>
								<td class="championship_item_name">Ф. Алонсо</td>
								<td class="championship_item_bonus gray">+7</td>
								<td class="championship_item_value">123</td>
								<td class="championship_item_status">
									<i class="icon icon_diff_up"></i>
								</td>
							</tr>
							<tr>
								<td class="championship_item_numb gray">3.</td>
								<td class="championship_item_name">К. Райкконен</td>
								<td class="championship_item_bonus gray">+17</td>
								<td class="championship_item_value">99</td>
								<td class="championship_item_status">
									<i class="icon icon_diff_down"></i>
								</td>
							</tr>
							<tr>
								<td class="championship_item_numb gray">4.</td>
								<td class="championship_item_name">Л. Хэмильтон</td>
								<td class="championship_item_bonus gray">+17</td>
								<td class="championship_item_value">95</td>
								<td class="championship_item_status">
									<i class="icon icon_diff_down"></i>
								</td>
							</tr>
							<tr>
								<td class="championship_item_numb gray">5.</td>
								<td class="championship_item_name">Н. Росберг</td>
								<td class="championship_item_bonus gray">+3</td>
								<td class="championship_item_value">89</td>
								<td class="championship_item_status">
									<i class="icon icon_diff_down"></i>
								</td>
							</tr>
							<tr>
								<td class="championship_item_numb gray">6.</td>
								<td class="championship_item_name">Ф. Масса</td>
								<td class="championship_item_bonus gray">+10</td>
								<td class="championship_item_value">76</td>
								<td class="championship_item_status">
									<i class="icon icon_diff_down"></i>
								</td>
							</tr>
							<tr>
								<td class="championship_item_numb gray">7.</td>
								<td class="championship_item_name">Р. Грожан</td>
								<td class="championship_item_bonus gray">+14</td>
								<td class="championship_item_value">55</td>
								<td class="championship_item_status">
									<i class="icon icon_diff_down"></i>
								</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<td class="championship_item_title" colspan="2">Кубок конструкторов</td>
								<td class="championship_item_link" colspan="3">
									<a href="#">полная таблица</a>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="championship_item_numb gray">1.</td>
								<td class="championship_item_name">Red Bull Racing</td>
								<td class="championship_item_bonus gray">+24</td>
								<td class="championship_item_value">157</td>
								<td class="championship_item_status">
									
								</td>
							</tr>
							<tr>
								<td class="championship_item_numb gray">2.</td>
								<td class="championship_item_name">Ferrari</td>
								<td class="championship_item_bonus gray">+7</td>
								<td class="championship_item_value">123</td>
								<td class="championship_item_status">
									<i class="icon icon_diff_up"></i>
								</td>
							</tr>
							<tr>
								<td class="championship_item_numb gray">3.</td>
								<td class="championship_item_name">Mercedes AMG</td>
								<td class="championship_item_bonus gray">+17</td>
								<td class="championship_item_value">99</td>
								<td class="championship_item_status">
									<i class="icon icon_diff_down"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="widget widget_danger widget_featured voting">
			<div class="widget_head">
				<div class="widget_title">Ваше мнение</div>
			</div>
			<div class="widget_body">
				<div class="voting_title">Кого бы вы хотели видеть напарником Феттеля в 2014-м?</div>
				<form action="/poll_vote" class="voting_form">
					<ul class="voting_list">
						<li>
							<label class="voting_item">
								<input type="radio" name="vote_field">
								<span>Райкконена</span>
							</label>
						</li>
						<li>
							<label class="voting_item">
								<input type="radio" name="vote_field">
								<span>Верня</span>
							</label>
						</li>
						<li>
							<label class="voting_item">
								<input type="radio" name="vote_field">
								<span>Риккардо</span>
							</label>
						</li>
					</ul>
					<div class="voting_submit">
						<button type="submit" class="btn">Проголосовать</button>
					</div>
				</form>
			</div>
		</div><!-- widget voting -->
		<div class="widget events">
			<div class="widget_head">
				<div class="widget_title">Ближайшие события</div>
			</div>
			<div class="widget_body">
				<div class="list_wrap">
					<table class="list list_striped">
						<tr>
							<td width="45">07.07</td>
							<td width="85"><b>F1</b></td>
							<td>Германия</td>
						</tr>
						<tr>
							<td width="45">07.07</td>
							<td width="85"><b>IndyCar</b></td>
							<td>Toronto</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>WTCC</b></td>
							<td>Куритибе</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>WTCC</b></td>
							<td>Бахрейн</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>GP3</b></td>
							<td>Абу-Даби</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>GP2</b></td>
							<td>Куритибе</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>GP2</b></td>
							<td>Зольдер</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>GP3</b></td>
							<td>Бельгия</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>WEC</b></td>
							<td>Макао</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>WTCC</b></td>
							<td>Великобритания</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>WTCC</b></td>
							<td>Бразилия</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>WRC</b></td>
							<td>Бельгия</td>
						</tr>
						<tr>
							<td width="45">19.07</td>
							<td width="85"><b>WRC</b></td>
							<td>США</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="widget_foot">
				<a href="#">Весь календарь</a>
			</div>
		</div>
		<div class="widget forecasts_contest">
			<div class="widget_head">
				<div class="widget_title">Конкурс прогнозов</div>
			</div>
			<div class="widget_body">
				<ul class="forecasts_contest_list">
					<li>
						<div class="forecasts_contest_item_name">Алонсо</div>
						<div class="forecasts_contest_item_value">43157</div>
						<div class="forecasts_contest_item_slider" style="width: 90%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Феттель</div>
						<div class="forecasts_contest_item_value">23563</div>
						<div class="forecasts_contest_item_slider" style="width: 70%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Хэмилтон</div>
						<div class="forecasts_contest_item_value">21799</div>
						<div class="forecasts_contest_item_slider" style="width: 57%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Райкконен</div>
						<div class="forecasts_contest_item_value">19845</div>
						<div class="forecasts_contest_item_slider" style="width: 44%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Масса</div>
						<div class="forecasts_contest_item_value">15432</div>
						<div class="forecasts_contest_item_slider" style="width: 32%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Уэббер</div>
						<div class="forecasts_contest_item_value">12898</div>
						<div class="forecasts_contest_item_slider" style="width: 12%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Сутил</div>
						<div class="forecasts_contest_item_value">767</div>
						<div class="forecasts_contest_item_slider" style="width: 2%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Хюлкенберг</div>
						<div class="forecasts_contest_item_value">29</div>
						<div class="forecasts_contest_item_slider" style="width: 1%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Баттон</div>
						<div class="forecasts_contest_item_value">20</div>
						<div class="forecasts_contest_item_slider" style="width: 1%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Перес</div>
						<div class="forecasts_contest_item_value">16</div>
						<div class="forecasts_contest_item_slider" style="width: 1%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Мальдонадо</div>
						<div class="forecasts_contest_item_value">12</div>
						<div class="forecasts_contest_item_slider" style="width: 0%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Вернь</div>
						<div class="forecasts_contest_item_value">7</div>
						<div class="forecasts_contest_item_slider" style="width: 0%"></div>
					</li>
					<li>
						<div class="forecasts_contest_item_name">Риккардо</div>
						<div class="forecasts_contest_item_value">5</div>
						<div class="forecasts_contest_item_slider" style="width: 0%"></div>
					</li>
				</ul>
			</div>
			<div class="widget_foot">
				<a href="#">Конкурс прогнозов</a>
			</div>
		</div>
		<div class="widget">
			<div class="widget_head">
				<div class="widget_title">В этот день, 14 июля</div>
			</div>
			<div class="widget_body">
				<table class="list list_striped">
					<tr>
						<td width="40" class="gray">1907</td>
						<td>Родился <a href="#">Чико Ланди</a></td>
					</tr>
					<tr>
						<td width="40" class="gray">1907</td>
						<td>Родился <a href="#">Чико Ланди</a></td>
					</tr>
					<tr>
						<td width="40" class="gray">1907</td>
						<td>Родился <a href="#">Чико Ланди</a></td>
					</tr>
					<tr>
						<td width="40" class="gray">1907</td>
						<td>Родился <a href="#">Чико Ланди</a></td>
					</tr>
					<tr>
						<td width="40" class="gray">1907</td>
						<td>Родился <a href="#">Чико Ланди</a></td>
					</tr>
					<tr>
						<td width="40" class="gray">1907</td>
						<td>Родился <a href="#">Чико Ланди</a></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="widget">
			<div class="widget_head">
				<div class="widget_title">Популярные темы на форуме</div>
			</div>
			<div class="widget_body">
				<ul class="list list_striped">
					<li><a href="#">Team Caterham</a></li>
					<li><a href="#">Льюис Хэмилтон</a></li>
					<li><a href="#">Себастьян Феттель</a></li>
					<li><a href="#">Sauber F1 Team</a></li>
					<li><a href="#">Марк Уэббер</a></li>
					<li><a href="#">Scuderia Ferrari</a></li>
				</ul>
			</div>
			<div class="widget_foot">
				<a href="#">Перейти на форум</a>
			</div>
		</div>
	</div><!-- span4 -->
</div><!-- row -->
{% endblock %}