{% extends "::base.html.twig" %}

{% block content %}
<div class="page_title">Новости: 03 марта 2014</div>
	<div class="row">
		<div class="span8" id="mainbar">
			<div class="widget articles_inline">
				<div class="widget_head"></div>
				<div class="widget_body">
					<div class="list_wrap">
						<ul class="list list_striped">
							<li class="list_head">
								<span class="red mini">19 июля, сегодня</span>
							</li>
							<li>
								<a href="#" class="news_list_setting">GP3: Дин Стоунман лидирует по итогам первого дня</a>
							</li>
							<li>
								<a href="#" class="news_list_mike">Браун: Мы добились прогресса за счет работы с настройками</a>
							</li>
							<li>
								<a href="#">Стефано Доменикали: Я обещаю, мы добьёмся успеха</a>
							</li>
							<li>
								<a href="#">Вольфф: Если команда не платит по счетам, это плохо для всех</a>
							</li>
							<li>
								<a href="#" class="news_list_setting">Марк Уэббер: Мои приоритеты изменились</a>
							</li>
							<li>
								<a href="#">Росс Браун: Red Bull Racing будут очень быстры в 2014-м</a>
							</li>
							<li>
								<a href="#">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
							</li>
							<li>
								<a href="#" class="news_list_mike gray">Хорнер: Наши сотрудники - главный козырь Red Bull Racing</a>
							</li>
							<li>
								<a href="#" class="news_list_setting">Магнуссен может заменить Переса?</a>
							</li>
							<li>
								<a href="#">Гэри Андерсон: Lotus и Хэмилтон пострадали из-за своих ошибок</a>
							</li>
							<li>
								<a href="#" class="news_list_setting">Фернандо Алонсо: В Остине нам нужно добиться прогресса</a>
							</li>
							<li>
								<a href="#" class="news_list_mike">Сэм Бёрд сядет за руль машины Russian Time на тестах GP3</a>
							</li>
							<li>
								<a href="#">Нико Росберг: Приятно видеть прогресс команды</a>
							</li>
							<li>
								<a href="#">Ален Прост: Я давно пытаюсь понять секрет Феттеля</a>
							</li>
							<li>
								<a href="#">Герхард Бергер в четвёртый раз стал отцом</a>
							</li>
							<li>
								<a href="#">Эрик Булье: Мы сделаем заявление в ближайшем будущем</a>
							</li>
							<li>
								<a href="#">Доменикали: Со стратегией Массы мы допустили ошибку</a>
							</li>
							<li>
								<a href="#">Хэмилтон удивлён нехваткой скорости</a>
							</li>
							<li>
								<a href="#">Мартин Брандл об итогах Гран При Абу-Даби</a>
							</li>
							<li>
								<a href="#">Гэри Андерсон: Lotus и Хэмилтон пострадали из-за своих ошибок</a>
							</li>
							<li class="list_head">
								<span class="red mini">19 июля, сегодня</span>
							</li>
							<li>
								<a href="#" class="news_list_setting">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
							</li>
							<li>
								<a href="#" class="news_list_mike gray">Сьюзи Вольфф – первая женщина в Гонке чемпионов</a>
							</li>
							<li>
								<a href="#" class="news_list_setting">В первый день тестов GP2 за руль сядут трое россиян</a>
							</li>
							<li>
								<a href="#" class="gray">Сафнауэр: Тактика одного пит-стопа была рискованной</a>
							</li>
							<li>
								<a href="#">Эрик Булье: Мы сделаем заявление в ближайшем будущем</a>
							</li>
							<li>
								<a href="#">Даниилу Квяту и Russian Time вручены награды по итогам сезона</a>
							</li>
							<li>
								<a href="#">Статистика прошедших Гран При: Квалификация</a>
							</li>
							<li>
								<a href="#" class="news_list_mike gray">Гран При Абу-Даби: Все цитаты уик-энда</a>
							</li>
							<li class="list_head">
								<span class="red mini">19 июля, сегодня</span>
							</li>
							<li>
								<a href="#" class="news_list_setting">GP3: Дин Стоунман лидирует по итогам первого дня</a>
							</li>
							<li>
								<a href="#" class="news_list_mike">Браун: Мы добились прогресса за счет работы с настройками</a>
							</li>
							<li>
								<a href="#">Стефано Доменикали: Я обещаю, мы добьёмся успеха</a>
							</li>
							<li>
								<a href="#">Вольфф: Если команда не платит по счетам, это плохо для всех</a>
							</li>
							<li>
								<a href="#" class="news_list_setting">Марк Уэббер: Мои приоритеты изменились</a>
							</li>
							<li>
								<a href="#">Росс Браун: Red Bull Racing будут очень быстры в 2014-м</a>
							</li>
							<li>
								<a href="#">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
							</li>
							<li>
								<a href="#" class="news_list_mike gray">Хорнер: Наши сотрудники - главный козырь Red Bull Racing</a>
							</li>
							<li>
								<a href="#" class="news_list_setting">Магнуссен может заменить Переса?</a>
							</li>
							<li>
								<a href="#">Гэри Андерсон: Lotus и Хэмилтон пострадали из-за своих ошибок</a>
							</li>
							<li>
								<a href="#" class="news_list_setting">Фернандо Алонсо: В Остине нам нужно добиться прогресса</a>
							</li>
							<li>
								<a href="#" class="news_list_mike">Сэм Бёрд сядет за руль машины Russian Time на тестах GP3</a>
							</li>
							<li>
								<a href="#">Нико Росберг: Приятно видеть прогресс команды</a>
							</li>
							<li>
								<a href="#">Ален Прост: Я давно пытаюсь понять секрет Феттеля</a>
							</li>
							<li>
								<a href="#">Герхард Бергер в четвёртый раз стал отцом</a>
							</li>
							<li>
								<a href="#">Эрик Булье: Мы сделаем заявление в ближайшем будущем</a>
							</li>
							<li>
								<a href="#">Доменикали: Со стратегией Массы мы допустили ошибку</a>
							</li>
							<li>
								<a href="#">Хэмилтон удивлён нехваткой скорости</a>
							</li>
							<li>
								<a href="#">Мартин Брандл об итогах Гран При Абу-Даби</a>
							</li>
							<li>
								<a href="#">Гэри Андерсон: Lotus и Хэмилтон пострадали из-за своих ошибок</a>
							</li>
							<li class="list_head">
								<span class="red mini">19 июля, сегодня</span>
							</li>
							<li>
								<a href="#" class="news_list_setting">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
							</li>
							<li>
								<a href="#" class="news_list_mike gray">Сьюзи Вольфф – первая женщина в Гонке чемпионов</a>
							</li>
							<li>
								<a href="#" class="news_list_setting">В первый день тестов GP2 за руль сядут трое россиян</a>
							</li>
							<li>
								<a href="#" class="gray">Сафнауэр: Тактика одного пит-стопа была рискованной</a>
							</li>
							<li>
								<a href="#">Эрик Булье: Мы сделаем заявление в ближайшем будущем</a>
							</li>
							<li>
								<a href="#">Даниилу Квяту и Russian Time вручены награды по итогам сезона</a>
							</li>
							<li>
								<a href="#">Статистика прошедших Гран При: Квалификация</a>
							</li>
							<li>
								<a href="#" class="news_list_mike gray">Гран При Абу-Даби: Все цитаты уик-энда</a>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- widget post -->
			<div class="widget widget_danger">
				<div class="widget_head">
					<div class="widget_title">Горячие темы</div>
				</div>
				<div class="widget_body">
					<div class="row carousel">
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article1.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Феттель: У многих ошибочное представление обо мне</a>
								<div class="article_cols">13 статей</div>
							</div>
						</div><!-- article -->
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article2.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
								<div class="article_cols">13 статей</div>
							</div>
						</div><!-- article -->
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article3.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Юрий Евстигнеев: Двери SMP Racing открыты для всех</a>
								<div class="article_cols">13 статей</div>
							</div>
						</div><!-- article -->
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article1.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Феттель: У многих ошибочное представление обо мне</a>
								<div class="article_cols">13 статей</div>
							</div>
						</div><!-- article -->
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article3.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Юрий Евстигнеев: Двери SMP Racing открыты для всех</a>
								<div class="article_cols">13 статей</div>
							</div>
						</div><!-- article -->
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article1.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Феттель: У многих ошибочное представление обо мне</a>
								<div class="article_cols">13 статей</div>
							</div>
						</div><!-- article -->
					</div>
				</div>
			</div><!-- widget -->
			<div class="widget">
				<div class="widget_head">
					<div class="widget_title">История формулы 1</div>
				</div>
				<div class="widget_body">
					<div class="row carousel">
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article4.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Германия'54: Серджио Мантовани</a>
							</div>
						</div><!-- article -->
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article5.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Монако'12: Нараин Картикеян</a>
							</div>
						</div><!-- article -->
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article6.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Германия'96: Педро Диниц</a>
							</div>
						</div><!-- article -->
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article4.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Германия'54: Серджио Мантовани</a>
							</div>
						</div><!-- article -->
						<div class="article span2 carousel_item">
							<div class="article_image">
								<a href="#">
									<img src="/files/article6.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#">Германия'96: Педро Диниц</a>
							</div>
						</div><!-- article -->
					</div>
				</div>
				<div class="widget_foot">
					<a href="#">Все исторические обзоры</a>
				</div>
			</div><!-- widget  carousel -->
		</div><!-- span8 -->
		<div class="span4" id="sidebar">
			<div class="widget select_date">
				<div class="widget_head"></div>
				<div class="widget_body">
					<div class="select_date_picker"></div>
					<div class="select_date_form">
						<form action="#">
							<table>
								<tr>
									<td>Когда</td>
									<td>
										<table>
											<tr>
												<td>
													<select name="">
														<option value="1">Март</option>
														<option value="2">Апрель</option>
													</select>
												</td>
												<td>
													<select name="">
														<option value="1">2014</option>
														<option value="2">2013</option>
													</select>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>Кто</td>
									<td>
										<select name="">
											<option value="1">-----------</option>
											<option value="2">Адриан Сутил</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>Где</td>
									<td>
										<select name="">
											<option value="1">-----------</option>
											<option value="2">Ferrari</option>
										</select>
									</td>
								</tr>
							</table>
							<div class="select_date_button">
								<button type="submit" class="btn">Искать</button>
							</div>
						</form>
					</div><!-- select date form -->
				</div>
			</div><!-- select date -->
			<div class="widget banner_sidebar">
				<a href="#">
					<img src="/files/banner_sidebar2.jpg" alt="">
				</a>
			</div><!-- widget banner_sidebar -->
			<div class="widget widget_fixed">
				<div class="widget_head">
					<div class="widget_title">Последние новости</div>
				</div>
				<div class="widget_body">
					<table class="list">
						<tr>
							<td><a href="#">Балдиссери: Для Бьянки этот сезон...</a></td>
							<td class="gray">менее часа</td>
						</tr>
						<tr>
							<td><a href="#">Пэт Симондс: Внимание к деталям с...</a></td>
							<td class="gray">1 час назад</td>
						</tr>
						<tr>
							<td><a href="#">Sauber может остаться без моторов</a></td>
							<td class="gray">1 час назад</td>
						</tr>
						<tr>
							<td><a href="#">Юрий Евстигнеев: Двери SMP Racin...</a></td>
							<td class="gray">2 часа назад</td>
						</tr>
						<tr>
							<td><a href="#">Жюль Бьянки о начале сотрудниче...</a></td>
							<td class="gray">2 часа назад</td>
						</tr>
						<tr>
							<td><a href="#">Петер Заубер: Сейчас моя задача –...</a></td>
							<td class="gray">2 часа назад</td>
						</tr>
						<tr>
							<td><a href="#">EuroF3: Судьи решили судьбу перв...</a></td>
							<td class="gray">2 часа назад</td>
						</tr>
						<tr>
							<td><a href="#">В Sauber уверены – команда выйде...</a></td>
							<td class="gray">вчера</td>
						</tr>
						<tr>
							<td><a href="#">Марк Жене сел за руль Ferrari F10...</a></td>
							<td class="gray">вчера</td>
						</tr>
						<tr>
							<td><a href="#">Sauber может остаться без моторов</a></td>
							<td class="gray">вчера</td>
						</tr>
						<tr>
						</tr>
					</table>
				</div>
				<div class="widget_foot">
					<a href="#">Все новости</a>
				</div>
			</div><!-- widget -->
		</div><!-- span4 -->
	</div><!-- row -->
{% endblock %}