{% extends "::base.html.twig" %}

{% block content %}
<div class="row">
	<div class="span8" id="mainbar">
		<div class="widget post">
			<div class="post_head">
				<h1 class="post_title">Гран При Германии: Гонка</h1>
				<div class="post_info clearfix">
					<div class="post_date">17:09, 21 июля 2013</div>
					<div class="post_social">
						<ul class="social social_with_count">
							<li class="social_twitter">
								<a href="#">12</a>
							</li>
							<li class="social_vk">
								<a href="#">23</a>
							</li>
							<li class="social_facebook">
								<a href="#">8</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="post_thumbnail">
					<img src="/files//post.jpg" alt="">
				</div>
			</div><!-- post head -->
			<div class="post_body">
				<div class="post_content" id="content">
					<p>В начале июля Дэвид Култхард заявил, что прошло уже много лет с тех пор, как Фернандо Алонсо выигрывал титул, и если эта тенденция продолжится, то испанцу стоит задуматься о том, продолжать ли карьеру в Ferrari или сменить команду.</p>
					<p>Менеджер Алонсо Луис Гарсиа Абад заявил SkySports, что он не посоветовал бы Фернандо менять команду, даже если он не сможет завоевать титул с Ferrari.</p>
					<p>Спонсоры? Они получают нужный эффект от поддержки Фернандо даже без побед в чемпионате, так что этот фактор не имеет значения».</p>
					<div class="post_floated post_quote">Когда Уэббер двинулся с места, колесо отделилось</div>
					<p>Луис Гарсиа Абад: «Я бы не посоветовал Фернандо менять команду. Алонсо – четвёртый гонщик в истории Формулы 1 по числу побед, сейчас он занимает вторую строчку в личном зачёте, а ведь многие пилоты ушли из чемпионата, не выиграв ни одной гонки за карьеру.</p>
					<p>Спонсоры? Они получают нужный эффект от поддержки Фернандо даже без побед в чемпионате, так что этот фактор не имеет значения». Спонсоры? Они получают нужный эффект от поддержки Фернандо даже без побед в чемпионате, так что этот фактор не имеет значения».</p>
				</div><!-- post content -->
			</div><!-- post_body -->
			<div class="post_foot">
				<div class="post_tags">
					<ul class="tags">
						<li>
							<a href="#">Фернандо Алонсо</a>
						</li>
						<li>
							<a href="#">Ferrari</a>
						</li>
					</ul>
				</div>
				<div class="post_foot_bottom clearfix">
					<div class="post_copyright"><span>Дмитрий Бухаров</span>, SkySports, Фото: xpb.cc</div>
					<div class="post_social">
						<div class="social social_color social_with_count">
							<li class="social_twitter">
								<a href="#">12</a>
							</li>
							<li class="social_vk">
								<a href="#">23</a>
							</li>
							<li class="social_facebook">
								<a href="#">8</a>
							</li>
						</div>
					</div>
				</div>
				<div class="post_more">
					<div class="row">
						<div class="post_more_prev span4">
							<div class="post_more_title">Ранее в новостях</div>
							<div class="post_more_content">
								<div class="article">
									<div class="article_title">
										<a href="#">Хилл: Нико достаточно одной победы, чтобы вернуть интригу</a>
									</div>
								</div>
							</div>
						</div>
						<div class="post_more_next span4">
							<div class="post_more_title">Ранее в новостях</div>
							<div class="post_more_content">
								<div class="article">
									<div class="article_title">
										<a href="#">Хилл: Нико достаточно одной победы, чтобы вернуть интригу</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- post foot -->
		</div><!-- widget post -->
	</div><!-- span8 -->
	<div class="span4" id="sidebar">
		<div class="widget widget_danger">
			<div class="widget_head">
				<div class="widget_title">Актуальные темы</div>
			</div>
			<div class="widget_body">
				<div class="article article_row">
					<div class="article_title">
						<a href="#">Звук новых моторов <span>12</span></a>
					</div>
				</div>
				<div class="article article_row">
					<div class="article_title">
						<a href="#">Травма Шумахера в декабре 2013-го <span>14</span></a>
					</div>
				</div>
				<div class="article article_row">
					<div class="article_title">
						<a href="#">Новая команда в Формуле 1 <span>23</span></a>
					</div>
				</div>
				<div class="article article_row">
					<div class="article_title">
						<a href="#">Гран При России в Сочи <span>12</span></a>
					</div>
				</div>
			</div>
		</div><!-- widget -->
		<div class="widget banner_sidebar">
			<a href="#">
				<img src="/files/banner_sidebar2.jpg" alt="">
			</a>
		</div><!-- widget banner_sidebar -->
		<div class="widget">
			<img src="/files/yandex.jpg" alt="">
		</div><!-- widget banner_sidebar -->
	</div><!-- span4 -->
</div><!-- row -->
<div class="row">
	<div class="span12">
		<div class="widget">
			<img src="/files/yandex_big.jpg" alt="">
		</div>
	</div>
</div><!-- row -->
<div class="row">
	<div class="span8">
		<div class="widget">
			<div class="widget_head">
				<div class="widget_title">Читайте далее</div>
			</div>
			<div class="widget_body">
				<div class="row carousel">
					<div class="article span2 carousel_item">
						<div class="article_image">
							<a href="#">
								<img src="/files//article1.jpg" alt="">
							</a>
						</div>
						<div class="article_title">
							<a href="#">Феттель: У многих ошибочное представление обо мне</a>
						</div>
						<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём </div>
					</div><!-- article -->
					<div class="article span2 carousel_item">
						<div class="article_image">
							<a href="#">
								<img src="/files//article2.jpg" alt="">
							</a>
						</div>
						<div class="article_title">
							<a href="#">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
						</div>
						<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём </div>
					</div><!-- article -->
					<div class="article span2 carousel_item">
						<div class="article_image">
							<a href="#">
								<img src="/files//article3.jpg" alt="">
							</a>
						</div>
						<div class="article_title">
							<a href="#">Юрий Евстигнеев: Двери SMP Racing открыты для всех</a>
						</div>
						<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём </div>
					</div><!-- article -->
					<div class="article span2 carousel_item">
						<div class="article_image">
							<a href="#">
								<img src="/files//article1.jpg" alt="">
							</a>
						</div>
						<div class="article_title">
							<a href="#">Феттель: У многих ошибочное представление обо мне</a>
						</div>
						<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём </div>
					</div><!-- article -->
				</div>
			</div>
			<div class="widget_foot">
				<a href="#">Новости за сегодня</a>
			</div>
		</div><!-- widget -->
		<div class="widget">
			<div class="widget_head">
				<div class="widget_title">другие Новости по теме</div>
			</div>
			<div class="widget_body">
				<div class="article article_list">
					<div class="row">
						<div class="span2">
							<img src="/files//article2.jpg" alt="">
						</div>
						<div class="span6 news_list">
							<table class="list list_striped">
								<thead>
									<tr>
										<td colspan="2" class="tags">
											<a href="#">Фернандо Алонсо</a>
										</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="#">Масса: Колёса заблокировались, и я не смог избежать вылета</a></td>
									</tr>
									<tr>
										<td><a href="#">Алонсо: Возможно, мы упустили подиум за первые 20 кругов</a></td>
									</tr>
									<tr>
										<td><a href="#">55 минут до старта: Комментарий Фернандо Алонсо</a></td>
									</tr>
									<tr>
										<td><a href="#">Алонсо: Все будет зависеть от темпа, а не от шин или тактики</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div><!-- article -->
				<div class="article article_list">
					<div class="row">
						<div class="span2">
							<img src="/files//article1.jpg" alt="">
						</div>
						<div class="span6 news_list">
							<table class="list list_striped">
								<thead>
									<tr>
										<td colspan="2" class="tags">
											<a href="#">Фернандо Алонсо</a>
										</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="#">Масса: Колёса заблокировались, и я не смог избежать вылета</a></td>
									</tr>
									<tr>
										<td><a href="#">Алонсо: Возможно, мы упустили подиум за первые 20 кругов</a></td>
									</tr>
									<tr>
										<td><a href="#">55 минут до старта: Комментарий Фернандо Алонсо</a></td>
									</tr>
									<tr>
										<td><a href="#">Алонсо: Все будет зависеть от темпа, а не от шин или тактики</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div><!-- article -->
			</div>
		</div><!-- widget -->
		
	</div><!-- span8 -->
	<div class="span4">
		<div class="widget widget_danger">
			<div class="widget_head">
				<div class="widget_title">Горячие темы</div>
			</div>
			<div class="widget_body">
				<div class="row">
					<div class="article span2">
						<div class="article_image">
							<a href="#">
								<img src="/files//article2.jpg" alt="">
							</a>
						</div>
						<div class="article_title">
							<a href="#">Пэт Симондс: Внимание к деталям сделало Формулу 1 дороже</a>
							<div class="article_cols">13 статей</div>
						</div>
					</div><!-- article -->
					<div class="article span2">
						<div class="article_image">
							<a href="#">
								<img src="/files//article1.jpg" alt="">
							</a>
						</div>
						<div class="article_title">
							<a href="#">Феттель: У многих ошибочное представление обо мне</a>
							<div class="article_cols">13 статей</div>
						</div>
					</div><!-- article -->
				</div><!-- row -->
				<div class="row">
					<div class="article span2">
						<div class="article_image">
							<a href="#">
								<img src="/files//article1.jpg" alt="">
							</a>
						</div>
						<div class="article_title">
							<a href="#">Феттель: У многих ошибочное представление обо мне</a>
							<div class="article_cols">13 статей</div>
						</div>
					</div><!-- article -->
					<div class="article span2">
						<div class="article_image">
							<a href="#">
								<img src="/files//article3.jpg" alt="">
							</a>
						</div>
						<div class="article_title">
							<a href="#">Юрий Евстигнеев: Двери SMP Racing открыты для всех</a>
							<div class="article_cols">13 статей</div>
						</div>
					</div><!-- article -->
				</div>
			</div>
		</div><!-- widget -->
	</div>
</div><!-- row -->
{% endblock %}