{% extends "::base.html.twig" %}

{% block content %}
<div class="row">
	<div class="span8" id="mainbar">
		<div class="widget post">
			<div class="post_head">
				<h1 class="post_title">Гран При Германии: Гонка</h1>
				<div class="post_info clearfix">
					<div class="post_date">17:09, 21 июля 2013</div>
					<div class="post_social">
						<ul class="social social_with_count">
							<li class="social_twitter">
								<a href="#">12</a>
							</li>
							<li class="social_vk">
								<a href="#">23</a>
							</li>
							<li class="social_facebook">
								<a href="#">8</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="post_thumbnail">
					<img src="/files/post.jpg" alt="">
				</div>
					
			</div><!-- post head -->
			<div class="post_body">
				<div class="post_content" id="content">
					<p>Шины с кевларовым кордом команды смогли опробовать во время свободных заездов в Канаде, но там помешал дождь, полноценных тестов не получилось, так что с доработанной резиной участники чемпионата осваивались уже в боевых условиях – по ходу уик-энда на Нюрбургринге, благо, погода не помешала.</p>
					<p>Более жесткий состав Medium многим понравился, он хотя и уступал больше секунды составу Soft, но был более стабилен и выдерживал большую дистанцию, а Soft обеспечивал отличное сцепление, но слишком быстро изнашивался – типичная резина для квалификации.</p>
					<p>Впрочем, не все в финале квалификации использовали Soft. Гонщики Ferrari проехали быстрый круг на Medium, пожертвовав скоростью в субботу ради иной стратегии в воскресенье, а Баттон и Хюлкенберг вообще отказались от быстрого круга, чтобы обеспечить себе свободу выбора шин на первый отрезок.</p>
					<p>В итоге Алонсо, Масса, Баттон, Хюлкенберг, Боттас и Мальдонадо стартовали на Medium, а остальные начинали гонку на Soft.</p>
					<div class="post_image row">
						<div class="span8">
							<div class="row">
								<div class="post_image_inner span6">
									<img src="/files/image1.jpg" alt="">
								</div>
								<div class="post_image_descript span2">На старте гонщики Red Bull Racing опередили Хэмилтона.</div>
							</div>
						</div>
					</div>
					<p>На старте гонщики Red Bull Racing опередили Хэмилтона, Феттель возглавил гонку. Масса опередил Риккардо, Перес – Баттона.</p>
					<p><b>Первая десятка на 2-м круге:</b> Феттель – Уэббер – Хэмилтон – Райкконен – Грожан – Масса – Риккардо – Алонсо – Перес – Баттон.</p>
					<div class="post_image row">
						<div class="span8">
							<div class="row">
								<div class="post_image_inner span6">
									<img src="/files/image2.jpg" alt="">
								</div>
								<div class="post_image_descript span2">На 4-м круге Масса выбыл из борьбы после вылета в первом повороте.</div>
							</div>
						</div>
					</div>
					<p>На 4-м круге Масса выбыл из борьбы после вылета в первом повороте. На 5-м ди Реста сменил резину, едва не столкнувшись на пит-лейн с Вернем, заезжавшим на обслуживание. На 6-м круге Риккардо и Сутил провели пит-стоп, на 7-м – Хэмилтон и Гутьеррес, на 8-м – Феттель и Перес, на 9-м – Райкконен и Уэббер.</p>
					<div class="post_floated post_quote">Когда Уэббер двинулся с места, колесо отделилось от машины и сбило телеоператора.</div>
					<p>При обслуживании машины Марка возникли проблемы – долго не удавалось закрепить заднее правое колесо, а когда Уэббер двинулся с места, оно отделилось от машины и сбило телеоператора – его оперативно отправили в медицинский центр. Марк вернулся на трассу после большой паузы – последним.</p>
					<p>Феттель вернулся в трафик, обогнал Хюлкенберга и Баттона и ехал в отличном темпе. Команда сообщила Росбергу, что у него другая стратегия, чем у Хэмилтона, и он пропустил Льюиса. На 13-м круге Алонсо провёл пит-стоп, на 14-м – Грожан, и Феттель вновь возглавил гонку. На 15-м круге Райкконен опередил Росберга.</p>
					<p>На 17-м круге Росберг сменил резину, на 18-м – Хюлкенберг, на 19-м – Риккардо. Райкконен опередил Хэмилтона. На 22-м круге Баттон и Мальдонадо провёли пит-стоп, на 23-м – Хэмилтон, Боттас и Гутьеррес.</p>
					<p>На 23-м круге взорвался мотор на машине Бьянки – Жюль покинул машину, но она покатилась по склону и пересекла трассу. Выехал автомобиль безопасности, большая группа пилотов свернула в боксы.</p>
					<div class="post_image row">
						<div class="span8">
							<div class="row">
								<div class="post_image_inner span6">
									<img src="/files/image3.jpg" alt="">
								</div>
								<div class="post_image_descript span2">На 23-м круге взорвался мотор на машине Бьянки – Жюль покинул машину, но она покатилась по склону и пересекла трассу.</div>
							</div>
						</div>
					</div>
					<p>Первая десятка за автомобилем безопасности на 25-м круге: Феттель – Грожан – Райкконен – Алонсо – Баттон – Хюлкенберг – Хэмилтон – Перес – Сутил – ди Реста.</p>
					<div class="post_floated post_quote">Вернь остановил машину в боксах и выбыл из борьбы из-за проблем с гидравликой.</div>
					<p>Вернь остановил машину в боксах и выбылиз борьбы из-за проблем с гидравликой.</p>
					<p>На 30-м круге объявили рестарт. Феттель сохранил лидерство, в первой десятке перестановок не произошло. Вернувшийся в круг с лидерами Уэббер отыграл несколько позиций в хвосте пелотона.</p>
				</div><!-- post content -->
				<div class="widget results">
					<div class="widget_head">
						<div class="widget_title">Результаты гран-при Германии</div>
					</div>
					<div class="widget_body">
						<table class="list list_striped">
							<thead>
								<tr>
									<td width="30"></td>
									<td class="results_title gray">Пилот</td>
									<td class="results_title gray">Команда</td>
									<td class="results_title gray" width="80">Время</td>
									<td class="results_title gray" width="80">Скорость</td>
									<td class="results_title gray" width="65">Пит-стопы</td>
									<td class="results_title gray" width="65">Со старта</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="gray">1.</td>
									<td>С.Феттель</td>
									<td>Red Bull</td>
									<td>1:41:14.711</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">2.</td>
									<td>М.Уэббер</td>
									<td>Red Bull</td>
									<td>+ 30.829</td>
									<td>183.356</td>
									<td>2</td>
									<td><i class="icon icon_diff_up"></i> <span class="diff_up">2</span></td>
								</tr>
								<tr>
									<td class="gray">3.</td>
									<td>Н.Росберг</td>
									<td>Mercedes</td>
									<td>+ 33.650</td>
									<td>182.512</td>
									<td>3</td>
									<td><i class="icon icon_diff_down"></i> <span class="diff_down">4</span></td>
								</tr>
								<tr>
									<td class="gray">4.</td>
									<td>Р.Грожан</td>
									<td>Lotus</td>
									<td>+ 34.802</td>
									<td>187.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">5.</td>
									<td>Ф.Алонсо</td>
									<td>Ferrari</td>
									<td>+ 1:07.181</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">6.</td>
									<td>П.ди Реста</td>
									<td>Force India</td>
									<td>+ 1:18.174</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">7.</td>
									<td>Л.Хэмилтон</td>
									<td>Red Bull</td>
									<td>+ 1:19.267</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">8.</td>
									<td>Ф.Масса</td>
									<td>Red Bull</td>
									<td>+ 1:35.989</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">9.</td>
									<td>С.Перес</td>
									<td>McLaren</td>
									<td>+ 1:43.767</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">10.</td>
									<td>А.Сутил</td>
									<td>Force India</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">11.</td>
									<td>П.Мальдонадо</td>
									<td>Williams</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">12.</td>
									<td>Д.Баттон</td>
									<td>McLaren</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">13.</td>
									<td>Э.Гутьеррес</td>
									<td>Sauber</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">14.</td>
									<td>С.Перес</td>
									<td>McLaren</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">15.</td>
									<td>А.Сутил</td>
									<td>Force India</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">16.</td>
									<td>П.Мальдонадо</td>
									<td>Williams</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">17.</td>
									<td>Д.Баттон</td>
									<td>McLaren</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">18.</td>
									<td>Э.Гутьеррес</td>
									<td>Sauber</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">19.</td>
									<td>Д.Баттон</td>
									<td>McLaren</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_nochange"></i></td>
								</tr>
								<tr>
									<td class="gray">20.</td>
									<td>Э.Гутьеррес</td>
									<td>Sauber</td>
									<td>+ 1 круг</td>
									<td>182.896</td>
									<td>3</td>
									<td><i class="icon icon_diff_up"></i></td>
								</tr>
							</tbody>
							<thead>
								<tr>
									<td colspan="7" class="results_title resulte_title_withborder">Лучший круг</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="gray"></td>
									<td>Фернандо Алонсо</td>
									<td>Ferrari</td>
									<td>51 круг</td>
									<td>198.279 км/ч</td>
									<td colspan="2">1:33.468</td>
								</tr>
							</tbody>
							<thead>
								<tr>
									<td colspan="7" class="results_title">Сходы</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="gray"></td>
									<td>Ж.Вернь</td>
									<td>Toro Rosso</td>
									<td>23 круг</td>
									<td>мотор</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td class="gray"></td>
									<td>Ж.Бьянки</td>
									<td>Marussia</td>
									<td>22 круг</td>
									<td>гидравлика</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td class="gray"></td>
									<td>Ф.Масса</td>
									<td>Ferrari</td>
									<td>4 круг</td>
									<td>вылет</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!-- widget championship -->
				<div class="widget championship">
					<div class="widget_head">
						<div class="widget_title">Положение в чемпионате после гонки</div>
						<div class="championship_item_link">
							<a href="#">полная таблица чемпионата 2013</a>
						</div>
					</div>
					<div class="widget_body">
						<div class="article article_list">
							<div class="row">
								<div class="span6 championship_list">
									<table class="list list_striped">
										<thead>
											<tr>
												<td colspan="6" class="championship_item_title">Личный зачет</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="championship_item_numb gray">1.</td>
												<td class="championship_item_name">С.Феттель</td>
												<td class="championship_item_company">RedBull</td>
												<td class="championship_item_bonus gray">+24</td>
												<td class="championship_item_status"><i class="icon icon_diff_nochange"></i></td>
												<td class="championship_item_value">157</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">2.</td>
												<td class="championship_item_name">Ф. Алонсо</td>
												<td class="championship_item_company">Ferrari</td>
												<td class="championship_item_bonus gray">+7</td>
												<td class="championship_item_status"><i class="icon icon_diff_up"></i></td>
												<td class="championship_item_value">123</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">3.</td>
												<td class="championship_item_name">К. Райкконен</td>
												<td class="championship_item_company">Lotus</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">4.</td>
												<td class="championship_item_name">Л.Хэмилтон</td>
												<td class="championship_item_company">RedBull</td>
												<td class="championship_item_bonus gray">+24</td>
												<td class="championship_item_status"><i class="icon icon_diff_nochange"></i></td>
												<td class="championship_item_value">157</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">5.</td>
												<td class="championship_item_name">М.Уэббер</td>
												<td class="championship_item_company">Ferrari</td>
												<td class="championship_item_bonus gray">+7</td>
												<td class="championship_item_status"><i class="icon icon_diff_up"></i></td>
												<td class="championship_item_value">123</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">6.</td>
												<td class="championship_item_name">Н.Росберг</td>
												<td class="championship_item_company">Lotus</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">7.</td>
												<td class="championship_item_name">Р.Грожан</td>
												<td class="championship_item_company">RedBull</td>
												<td class="championship_item_bonus gray">+24</td>
												<td class="championship_item_status"><i class="icon icon_diff_nochange"></i></td>
												<td class="championship_item_value">157</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">8.</td>
												<td class="championship_item_name">Ф.Масса</td>
												<td class="championship_item_company">Ferrari</td>
												<td class="championship_item_bonus gray">+7</td>
												<td class="championship_item_status"><i class="icon icon_diff_up"></i></td>
												<td class="championship_item_value">123</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">9.</td>
												<td class="championship_item_name">Д.Баттон</td>
												<td class="championship_item_company">Lotus</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">10.</td>
												<td class="championship_item_name">П. ди Реста</td>
												<td class="championship_item_company">Lotus</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">11.</td>
												<td class="championship_item_name">Н.Хюлкенберг</td>
												<td class="championship_item_company">Lotus</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">12.</td>
												<td class="championship_item_name">C.Перес</td>
												<td class="championship_item_company">McLaren</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">13.</td>
												<td class="championship_item_name">А.Сутил</td>
												<td class="championship_item_company">Lotus</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">14.</td>
												<td class="championship_item_name">Д.Риккардо</td>
												<td class="championship_item_company">Toro Rosso</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">15.</td>
												<td class="championship_item_name">Ж.-Э.Вернь</td>
												<td class="championship_item_company">Toro Rosso</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">16.</td>
												<td class="championship_item_name">Э.Гутьеррес</td>
												<td class="championship_item_company">Sauber F1 Team	</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">17.</td>
												<td class="championship_item_name">П.Мальдонадо</td>
												<td class="championship_item_company">Williams F1 Team</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
										</tbody>
									</table>
								</div><!-- span6 -->
								<div class="span2 championship_descript">Феттель увеличил отрыв от Алонсо, а Райкконен отыграл 4 отча в борьбе за 2 место с Хэмильтоном. Сутил обогнеал напарника по команде.</div>
							</div><!-- row -->
						</div><!-- article -->
						<div class="article article_list">
							<div class="row">
								<div class="span6 championship_list">
									<table class="list list_striped">
										<thead>
											<tr>
												<td colspan="6" class="championship_item_title">Кубок конструкторов</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="championship_item_numb gray">1.</td>
												<td class="championship_item_name">Red Bull Racing</td>
												<td class="championship_item_bonus gray">+24</td>
												<td class="championship_item_status"><i class="icon icon_diff_nochange"></i></td>
												<td class="championship_item_value">157</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">2.</td>
												<td class="championship_item_name">Mercedes AMG</td>
												<td class="championship_item_bonus gray">+7</td>
												<td class="championship_item_status"><i class="icon icon_diff_up"></i></td>
												<td class="championship_item_value">123</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">3.</td>
												<td class="championship_item_name">Scuderia Ferrari</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">4.</td>
												<td class="championship_item_name">Lotus F1 Team</td>
												<td class="championship_item_bonus gray">+24</td>
												<td class="championship_item_status"><i class="icon icon_diff_nochange"></i></td>
												<td class="championship_item_value">157</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">5.</td>
												<td class="championship_item_name">McLaren</td>
												<td class="championship_item_bonus gray">+7</td>
												<td class="championship_item_status"><i class="icon icon_diff_up"></i></td>
												<td class="championship_item_value">123</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">6.</td>
												<td class="championship_item_name">Sahara Force India F1 Team</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">7.</td>
												<td class="championship_item_name">Sauber F1 Team</td>
												<td class="championship_item_bonus gray">+24</td>
												<td class="championship_item_status"><i class="icon icon_diff_nochange"></i></td>
												<td class="championship_item_value">157</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">8.</td>
												<td class="championship_item_name">Toro Rosso</td>
												<td class="championship_item_bonus gray">+7</td>
												<td class="championship_item_status"><i class="icon icon_diff_up"></i></td>
												<td class="championship_item_value">123</td>
											</tr>
											<tr>
												<td class="championship_item_numb gray">9.</td>
												<td class="championship_item_name">Williams F1 Team</td>
												<td class="championship_item_bonus gray">+17</td>
												<td class="championship_item_status"><i class="icon icon_diff_down"></i></td>
												<td class="championship_item_value">99</td>
											</tr>
										</tbody>
									</table>
								</div><!-- span6 -->
								<div class="span2 championship_descript">RedBull оторвался уже на 40 очков и вряд ли упустит победу. В низу таблицы McLaren борется с ToroRosso.</div>
							</div>
						</div>
					</div>
				</div><!-- widget championship -->
			</div><!-- post_body -->
			<div class="post_foot">
				<div class="post_tags">
					<ul class="tags">
						<li>
							<a href="#">Фернандо Алонсо</a>
						</li>
						<li>
							<a href="#">Ferrari</a>
						</li>
					</ul>
				</div>
				<div class="post_foot_bottom clearfix">
					<div class="post_copyright"><span>Дмитрий Бухаров</span>, SkySports, Фото: xpb.cc</div>
					<div class="post_social">
						<div class="social social_color social_with_count">
							<li class="social_twitter">
								<a href="#">12</a>
							</li>
							<li class="social_vk">
								<a href="#">23</a>
							</li>
							<li class="social_facebook">
								<a href="#">8</a>
							</li>
						</div>
					</div>
				</div>
			</div><!-- post foot -->
		</div><!-- widget post -->
			
		
	</div><!-- span8 -->
	<div class="span4" id="sidebar">
		<div class="widget widget_danger">
			<div class="widget_head">
				<div class="widget_title">Актуальные темы</div>
			</div>
			<div class="widget_body">
				<div class="article article_row">
					<div class="article_title">
						<a href="#">Звук новых моторов <span>12</span></a>
					</div>
				</div>
				<div class="article article_row">
					<div class="article_title">
						<a href="#">Травма Шумахера в декабре 2013-го <span>14</span></a>
					</div>
				</div>
				<div class="article article_row">
					<div class="article_title">
						<a href="#">Новая команда в Формуле 1 <span>23</span></a>
					</div>
				</div>
				<div class="article article_row">
					<div class="article_title">
						<a href="#">Гран При России в Сочи <span>12</span></a>
					</div>
				</div>
			</div>
		</div><!-- widget -->
		<div class="widget banner_sidebar">
			<a href="#">
				<img src="/files/banner_sidebar2.jpg" alt="">
			</a>
		</div><!-- widget banner_sidebar -->
		<div class="widget widget_fixed">
			<div class="widget_head">
				<div class="widget_title">Последние новости</div>
			</div>
			<div class="widget_body">
				<table class="list">
					<tr>
						<td><a href="#">Балдиссери: Для Бьянки этот сезон...</a></td>
						<td class="gray">менее часа</td>
					</tr>
					<tr>
						<td><a href="#">Пэт Симондс: Внимание к деталям с...</a></td>
						<td class="gray">1 час назад</td>
					</tr>
					<tr>
						<td><a href="#">Sauber может остаться без моторов</a></td>
						<td class="gray">1 час назад</td>
					</tr>
					<tr>
						<td><a href="#">Юрий Евстигнеев: Двери SMP Racin...</a></td>
						<td class="gray">2 часа назад</td>
					</tr>
					<tr>
						<td><a href="#">Жюль Бьянки о начале сотрудниче...</a></td>
						<td class="gray">2 часа назад</td>
					</tr>
					<tr>
						<td><a href="#">Петер Заубер: Сейчас моя задача –...</a></td>
						<td class="gray">2 часа назад</td>
					</tr>
					<tr>
						<td><a href="#">EuroF3: Судьи решили судьбу перв...</a></td>
						<td class="gray">2 часа назад</td>
					</tr>
					<tr>
						<td><a href="#">В Sauber уверены – команда выйде...</a></td>
						<td class="gray">вчера</td>
					</tr>
					<tr>
						<td><a href="#">Марк Жене сел за руль Ferrari F10...</a></td>
						<td class="gray">вчера</td>
					</tr>
					<tr>
						<td><a href="#">Sauber может остаться без моторов</a></td>
						<td class="gray">вчера</td>
					</tr>
					<tr>
					</tr>
				</table>
			</div>
			<div class="widget_foot">
				<a href="#">Все новости</a>
			</div>
		</div><!-- widget -->
		<div class="widget widget_fixed">
			<div class="widget_head">
				<div class="widget_title">Важные новости</div>
			</div>
			<div class="widget_body">
				<div class="row carousel">
					<div class="span2 carousel_item">
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article7.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article3.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
						</div><!-- article -->
					</div><!-- span2 -->
					<div class="span2 carousel_item">
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article5.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article2.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
						</div><!-- article -->
					</div><!-- span2 -->
					<div class="span2 carousel_item">
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article1.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article1.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
						</div><!-- article -->
					</div><!-- span2 -->
				</div>
			</div>
		</div><!-- widget -->
		<div class="widget widget_fixed">
			<div class="widget_head">
				<div class="widget_title">Обзоры Гран-При</div>
			</div>
			<div class="widget_body">
				<div class="row carousel">
					<div class="span2 carousel_item">
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article6.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article7.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Мониша Кальтенборн об экономической ситуации Sauber</a>
							</div>
						</div><!-- article -->
					</div><!-- span2 -->
					<div class="span2 carousel_item">
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article8.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Дженсон Баттон: В Формуле 1 всё меняется очень быстро</a>
							</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article2.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Даниил Квят: Самое главное – я должен добиться результатов</a>
							</div>
						</div><!-- article -->
					</div><!-- span2 -->
				</div>
			</div>
		</div><!-- widget -->
		<div class="widget widget_fixed">
			<div class="widget_head">
				<div class="widget_title">Интервью после гонки</div>
			</div>
			<div class="widget_body">
				<div class="row carousel">
					<div class="span2 carousel_item">
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article6.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Сэм Майкл: В McLaren решили, что пришло время перемен</a>
							</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article1.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Феттель: Иногда вы должны действовать безжалостно</a>
							</div>
						</div><!-- article -->
					</div><!-- span2 -->
					<div class="span2 carousel_item">
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article5.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Кевин Магнуссен о любимых гонщиках и любимых поворотах</a>
							</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article3.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Серхио Перес: Решение McLaren повергло меня в шок</a>
							</div>
						</div><!-- article -->
					</div><!-- span2 -->
					<div class="span2 carousel_item">
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article1.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
						</div><!-- article -->
						<div class="article">
							<div class="article_image">
								<a href="#">
									<img src="/files/article1.jpg" alt="">
								</a>
							</div>
							<div class="article_title">
								<a href="#"><span>19.07</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
						</div><!-- article -->
					</div><!-- span2 -->
				</div>
			</div>
		</div><!-- widget -->
		<div class="widget widget_danger widget_featured widget_fixed">
			<div class="widget_head">
				<div class="widget_title">Горячие темы</div>
			</div>
			<div class="widget_body">
				<ul class="list">
					<li><a href="#"><b>Финансовый кризис в Sauber 2013 </a><span class="gray">12</span> </b></li>
					<li><a href="#"><b>Проблемы с резиной в Сильверстоуне </a><span class="gray">14</span> </b></li>
					<li><a href="#"><b>Уход Марка Уэббера </a><span class="gray">20</span> </b></li>
					<li><a href="#"><b>Молодежные тесты 2013 </a><span class="gray">18</span> </b></li>
					<li><a href="#"><b>Тесты Mercedes и Pirelli </a><span class="gray"> 5</span> </b></li>
					<li><a href="#"><b>Возвращение Honda </a><span class="gray"> 7</span> </b></li>
					<li><a href="#"><b>Moscow City Racing 2013 </a><span class="gray">17</span> </b></li>
				</ul>
			</div>
		</div>
	</div><!-- span4 -->
</div><!-- row -->
{% endblock %}