{% extends "::base.html.twig" %}

{% block content %}
<div class="page_title">Новости: 03 марта 2014</div>
	<div class="row">
		<div class="span8" id="mainbar">
			<div class="widget articles_inline">
				<div class="widget_head"></div>
				<div class="widget_body">
					<div class="article article_large">
						<div class="article_image">
							<a href="#">
								<img src="/files/article1.jpg" alt="">
							</a>
						</div>
						<div class="article_main">
							<div class="article_title">
							<a href="#"><span>19 апреля, 23:20</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
							<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
						</div>
					</div><!-- article -->
					<div class="article article_large">
						<div class="article_image">
							<a href="#">
								<img src="/files/article2.jpg" alt="">
							</a>
						</div>
						<div class="article_main">
							<div class="article_title">
							<a href="#"><span>19 апреля, 23:20</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
							<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
						</div>
					</div><!-- article -->
					<div class="article article_large">
						<div class="article_image">
							<a href="#">
								<img src="/files/article3.jpg" alt="">
							</a>
						</div>
						<div class="article_main">
							<div class="article_title">
							<a href="#"><span>19 апреля, 23:20</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
							<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
						</div>
					</div><!-- article -->
					<div class="article article_large">
						<div class="article_image">
							<a href="#">
								<img src="/files/article4.jpg" alt="">
							</a>
						</div>
						<div class="article_main">
							<div class="article_title">
							<a href="#"><span>19 апреля, 23:20</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
							<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
						</div>
					</div><!-- article -->
					<div class="article article_large">
						<div class="article_image">
							<a href="#">
								<img src="/files/article4.jpg" alt="">
							</a>
						</div>
						<div class="article_main">
							<div class="article_title">
							<a href="#"><span>19 апреля, 23:20</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
							<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
						</div>
					</div><!-- article -->
					<div class="article article_large">
						<div class="article_image">
							<a href="#">
								<img src="/files/article4.jpg" alt="">
							</a>
						</div>
						<div class="article_main">
							<div class="article_title">
							<a href="#"><span>19 апреля, 23:20</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
							<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
						</div>
					</div><!-- article -->
					<div class="article article_large">
						<div class="article_image">
							<a href="#">
								<img src="/files/article4.jpg" alt="">
							</a>
						</div>
						<div class="article_main">
							<div class="article_title">
							<a href="#"><span>19 апреля, 23:20</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
							<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
						</div>
					</div><!-- article -->
					<div class="article article_large">
						<div class="article_image">
							<a href="#">
								<img src="/files/article4.jpg" alt="">
							</a>
						</div>
						<div class="article_main">
							<div class="article_title">
							<a href="#"><span>19 апреля, 23:20</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
							<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
						</div>
					</div><!-- article -->
					<div class="article article_large">
						<div class="article_image">
							<a href="#">
								<img src="/files/article1.jpg" alt="">
							</a>
						</div>
						<div class="article_main">
							<div class="article_title">
							<a href="#"><span>19 апреля, 23:20</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
							<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
						</div>
					</div><!-- article -->
					<div class="article article_large">
						<div class="article_image">
							<a href="#">
								<img src="/files/article2.jpg" alt="">
							</a>
						</div>
						<div class="article_main">
							<div class="article_title">
							<a href="#"><span>19 апреля, 23:20</span> Феттель: У многих ошибочное представление обо мне</a>
							</div>
							<div class="article_content">В интервью Welt Am Sonntag Себастьян Феттель вспоминал инцидент с Марком Уэббером в Малайзии, говорил о своём характере, о настоящем и будущем…</div>
						</div>
					</div><!-- article -->
				</div>
				<div class="widget_foot">
					<ul class="news_list_tabs">
						<li>
							<a href="#">За сегодня</a>
						</li>
						<li>
							<a href="#">вчера</a>
						</li>
						<li>
							<a href="#">месяц</a>
						</li>
						<li>
							<a href="#">архив</a>
						</li>
					</ul>
				</div>
			</div><!-- widget post -->
		</div><!-- span8 -->
		<div class="span4" id="sidebar">
			<div class="widget select_date">
				<div class="widget_head"></div>
				<div class="widget_body">
					<div class="select_date_picker"></div>
					<div class="select_date_form">
						<form action="#">
							<table>
								<tr>
									<td>Когда</td>
									<td>
										<table>
											<tr>
												<td>
													<select name="">
														<option value="1">Март</option>
														<option value="2">Апрель</option>
													</select>
												</td>
												<td>
													<select name="">
														<option value="1">2014</option>
														<option value="2">2013</option>
													</select>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>Кто</td>
									<td>
										<select name="">
											<option value="1">-----------</option>
											<option value="2">Адриан Сутил</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>Где</td>
									<td>
										<select name="">
											<option value="1">-----------</option>
											<option value="2">Ferrari</option>
										</select>
									</td>
								</tr>
							</table>
							<div class="select_date_button">
								<button type="submit" class="btn">Искать</button>
							</div>
						</form>
					</div><!-- select date form -->
				</div>
			</div><!-- select date -->
			<div class="widget banner_sidebar">
				<a href="#">
					<img src="/files/banner_sidebar2.jpg" alt="">
				</a>
			</div><!-- widget banner_sidebar -->
		</div><!-- span4 -->
	</div><!-- row -->
{% endblock %}